
.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;      
  row-gap: 24px;         
  list-style: none;
  padding-top: 24px;
  margin: 0 auto;        
  max-width: 1128px;     
  justify-content: center;
}

.gallery-item {
  width: 360px;
}

.gallery-image {
  display: block;
 width: 100%;     
  height: 200px;      
  object-fit: cover; 
}

.gallery-link {
  display: block;
  text-decoration: none;
}